# Supabase
.branches
.temp
.env

.DS_Store
web/.DS_Store

web/scritpts/.env
venv

.vscode

# dependencies
web/app/node_modules
web/app/.pnp
.pnp.js
# lockfile
package-lock.json

# crawling storage:
web/app/storage

# testing
/coverage

# next.js
web/app/.next/
web/app/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
