body, button {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.popup-container {
    width: 400px;
    max-width: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
    overflow: hidden;
}

.popup-header {
    text-align: center;
    margin-bottom: 20px;
}

.popup-header .logo {
    width: 48px;
}

.popup-main {
    text-align: center;
}

.send-url-button, .add-website-button { /* Updated styles */
    background-color: #007cba;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.send-url-button:hover, .add-website-button:hover { /* Updated styles */
    background-color: #005792;
}

.api-response {
    display: none;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    word-break: break-word; 
    overflow: hidden;
    font-size: 14px; 
    max-width: 100%; 
    box-sizing: border-box;
}

#apiResponse {
    margin: 0;
    padding: 0;
}

.popup-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}

.loading-indicator {
    color: #007cba; 
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.confirmation-message { /* New styles */
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
