.main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
  
    &:before {
      background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, var(--gray1) 100%);
      position: absolute;
      content: '';
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
    }
  
    &:after {
      content: '';
      background-image: url('/grid.svg');
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.2;
      filter: invert(1);
  
      @media (prefers-color-scheme: dark) {
        filter: unset;
      }
    }
  
    h1 {
      font-size: 32px;
      color: var(--gray12);
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 40px;
    }
  
    p {
      color: var(--gray11);
      margin-top: 8px;
      font-size: 16px;
    }
  }
  
  .footer {
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    margin: 32px auto;
    bottom: 16px;
    color: var(--gray11);
    font-size: 13px;
    z-index: 3;
    position: absolute;
    bottom: 0;
  
    a {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      color: var(--gray12);
      font-weight: 500;
      border-radius: 9999px;
      padding: 4px;
      margin: 0 -2px;
      transition: background 150ms ease;
  
      &:hover,
      &:focus-visible {
        background: var(--grayA4);
        outline: 0;
      }
    }
  
    img {
      width: 20px;
      height: 20px;
      border: 1px solid var(--gray5);
      border-radius: 9999px;
    }
  }
  
  .line {
    height: 20px;
    width: 180px;
    margin: 64px auto;
    background-image: url('/line.svg');
    filter: invert(1);
    mask-image: linear-gradient(90deg, transparent, #fff 4rem, #fff calc(100% - 4rem), transparent);
  
    @media (prefers-color-scheme: dark) {
      filter: unset;
    }
  }
  
  .line2 {
    height: 1px;
    width: 300px;
    background: var(--gray7);
    position: absolute;
    top: 0;
    mask-image: linear-gradient(90deg, transparent, #fff 4rem, #fff calc(100% - 4rem), transparent);
  }
  
  .line3 {
    height: 300px;
    width: calc(100% + 32px);
    position: absolute;
    top: -16px;
    left: -16px;
  
    border-radius: 16px 16px 0 0;
    --size: 1px;
    --gradient: linear-gradient(to top, var(--gray1), var(--gray7));
  
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: var(--size);
      background: linear-gradient(to top, var(--gray1), var(--gray7));
      mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
      mask-composite: exclude;
      transform: translateZ(0);
  
      @media (prefers-color-scheme: dark) {
        mask: none;
        mask-composite: none;
        opacity: 0.2;
        backdrop-filter: blur(20px);
      }
    }
  }
  
  .connorSignature,
  .arneSignature {
    position: absolute;
    height: fit-content;
    color: var(--gray11);
    pointer-events: none;
  }
  
  .connorSignature {
    width: 120px;
    stroke-dashoffset: 1;
    stroke-dasharray: 1;
    right: -48px;
  }
  
  .arneSignature {
    width: 120px;
    stroke-dashoffset: 1;
    stroke-dasharray: 1;
    left: -8px;
  }
  
  .footerText {
    display: flex;
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0;
  }
  
  .footer[data-animate='true'] {
    .connorSignature path {
      animation: drawConnorSignature 1.5s ease forwards 0.5s;
    }
  
    .arneSignature path {
      animation: drawArneSignature 0.8s linear forwards 0.5s;
    }
  
    .footerText {
      animation: showFooter 1s linear forwards 3s;
    }
  }
  
  @keyframes drawArneSignature {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes drawConnorSignature {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes showFooter {
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 640px) {
    .main {
      padding-top: 24px;
      padding-bottom: 120px;
    }
  
    .switcher {
      grid-template-columns: repeat(2, 100px);
      gap: 16px;
  
      .arrow {
        display: none;
      }
    }
  }