---
import { Typography } from '@shadcn/ui';
---

<header class="py-4 border-b border-gray-200">
  <div class="container mx-auto px-4">
    <div class="flex items-center">
      <img src="/assets/images/icon128.png" alt="TOS Buddy Logo" class="w-8 h-8 mr-2" />
      <Typography variant="h4">TOS Buddy</Typography>
    </div>
  </div>
</header>